

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Angular Project</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only" routerLinkActive="active">
    <a class="mdl-navigation__link" routerLink="home">Home</a>
    <a class="mdl-navigation__link" routerLink="add">Add</a>
    <a class="mdl-navigation__link" routerLink="search">Search</a>
    </nav>
    </div>
    </header>
    <main class="mdl-layout__content" style="padding: 20px;">
    </main>
    </div>
    
