<!--<mat-card class="col-8 offset-2">
  <h>Add a new event</h>
  <form>
    <mat-form_field>
      <input placeholder="Name" matInput>
    </mat-form_field>
    <mat-form_field>
      <input placeholder="Price" matInput type="number">
    </mat-form_field>
    <mat-form_field>
      <textarea placeholder="Description" matInput type></textarea>
    </mat-form_field>

    <div class = "buttonContainer">
    <button mat-flat-button color = "primary">Save</button>button>
    <button mat-flat-button color = "add">Add</button>button>
    </div>
  </form>>
</mat-card>-->